.info_weather {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.div_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-family: 'monospace';
  font-weight: 600;
  font-size: 18px;
  color: rgb(107, 107, 107);
}
.location {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.location_name {
  font-size: 25px;
  color: #2d2d2d;
}
.icon_temp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  width: 50px;
}
.temp {
  display: flex;
  gap: 5px;
}
.mapa {
  border-radius: 8px;
}