.Todo {
  margin: 100px auto 100px auto;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  min-height: 100px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.107);
  transition: all 0.5s ease;
}
.Todo_form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.input_todo {
  border: none;
  background-color: rgb(238, 238, 238);
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  font-size: 16px;
  color: #616161;
}
.input_todo:hover {
  border-color: rgba(52, 140, 255, 0.133);
}
.input_todo:focus {
  outline: none;
  border-color: rgba(113, 212, 255, 0.259);;
}

.create_todo {
  border: none;
  background-color: rgb(0, 145, 255);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}
.create_todo:hover {
  background-color: rgb(28, 128, 243);
}

.Items_container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Items {
  padding: 5px 0;
  transition: all 0.3s ease;
}

.Component_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_button {
  display: flex;
  gap: 10px;
}

.edit_button ,
.delete_button {
  padding: 6px 8.7px ;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.edit_button {
  background-color: rgb(0, 128, 255);
}
.delete_button {
  background-color: rgb(229, 56, 56);
}

.title {
  color: #616161;
  margin-left: 1px;
}

.form_update {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.input_update {
  width: 64%;
  border: none;
  background-color: rgb(238, 238, 238);
  padding: 5px;
  border-radius: 4px;
  color: #616161;
}
.input_update:focus {
  outline: none;
}
.button_update {
 padding: 6px 32.5px;
 border: none;
 background-color: #4dc34d;
 border-radius: 4px;
 color: #fff;
 cursor: pointer;
 font-size: 14px;
 cursor: pointer;
}